/nbproject/private/
/debian/php-flexibee-config/
/debian/php-flexibee-config.debhelper.log
/debian/php-flexibee-config.substvars
/debian/files
/build-stamp
/testing/PHPUnit/build/
/debian/flexplorer/
/vendor/
/composer.lock
/.vagrant/
/ubuntu-zesty-17.04-cloudimg-console.log
/php-flexibee-config-build-deps_0.0_all.deb
/debian/php-flexibee-config.postrm.debhelper
/debian/debhelper-build-stamp
/deb/
/debian/.debhelper/nbproject
/debian/.debhelper/
/debian/abraflexi-client-config.substvars
/debian/abraflexi-client-config.debhelper.log
/debian/abraflexi-client-config.postrm.debhelper
/debian/abraflexi-client-config/
