#!/bin/sh
export DH_VERBOSE=1

set -e
# Source debconf library.
. /usr/share/debconf/confmodule

db_version 2.0

# Ask questions.
db_input critical abraflexi-client-config/ABRAFLEXI_URL || true
db_input critical abraflexi-client-config/ABRAFLEXI_LOGIN || true
db_input critical abraflexi-client-config/ABRAFLEXI_PASSWORD || true
db_input critical abraflexi-client-config/ABRAFLEXI_COMPANY || true

db_input critical abraflexi-client-config/ENVIRONMENT_ABRAFLEXI_CONFIG || true
db_input critical abraflexi-client-config/APACHE_ABRAFLEXI_CONFIG || true

db_go || true

