Source: php-abraflexi-config
Build-Depends: debhelper (>= 7.0.50~),po-debconf
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Section: office
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/php-abraflexi-config

Package: php-abraflexi-config
Depends: ${misc:Depends},php-spojenet-abraflexi, composer, php-cli, jq
Suggests: abraflexi-server
Architecture: all
Section: web
Priority: optional
Description: config and configurator for php-abraflexi
 Setup and probe shared configuration for AbraFlexi based
 tools
