Source: php-flexibee-config
Build-Depends: debhelper (>= 7.0.50~),po-debconf
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/php-flexibee-config

Package: php-flexibee-config
Depends: ${misc:Depends},php-flexibee, composer, php-cli|php5-cli|php5.6-cli|php7.0-cli|php7.1-cli|php7.2-cli|php7.3-cli
Suggests: flexibee-server
Architecture: all
Section: web
Priority: optional
Description: config and configurator for php-flexibee
 Setup and probe shared configuration for FlexiPeeHP based
 tools
