Source: abraflexi-client-config
Build-Depends: debhelper (>= 7.0.50~),po-debconf, jq, moreutils
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Section: office
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/php-abraflexi-config

Package: abraflexi-client-config
Replaces: php-abraflexi-config
Depends: ${misc:Depends},php-spojenet-abraflexi, composer, php-cli, jq
Suggests: abraflexi-server
Architecture: all
Section: web
Priority: optional
Description: config and configurator for php-abraflexi
 Setup and probe shared configuration for AbraFlexi based
 tools

Package: abraflexi-client-check
Depends: ${misc:Depends},php-spojenet-abraflexi, composer, php-cli, jq
Suggests: abraflexi-server
Architecture: all
Section: web
Priority: optional
Description: Check php-abraflexi functionality
 Probe configuration for php-abraflexi based tools

Package: multiflexi-abraflexi-client-check
Depends: abraflexi-client-check, multiflexi
Architecture: all
Section: web
Priority: optional
Description: Install AbraFlexi Checker into MultiFlexi
 Diagnostic tool for MultiFlexi

Package: apache-abraflexi-client-config
Replaces: php-abraflexi-config
Depends: ${misc:Depends},abraflexi-client-config, apache2
Architecture: all
Section: web
Priority: optional
Description: Apache configuration for abraflexi related applications
 Setup and probe shared configuration for AbraFlexi based
 web app

